body {
    margin: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

li {
    font-size: 15px;
    
}

li a {
    text-decoration: none;
    color: white;
}

a {
text-decoration: none;
color: white;
}

p {
    margin: 0;
    padding: 0;
    color: white;
}
/* Header */
.header {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
    padding: 20px 100px;
    flex: 1;
}


.logo2 {
    border-radius: 20px;
}

.head1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    width: 800px;
}

.links {
display: flex;
align-items: center;
font-weight: 900;
}

.header2 {
    display: flex;
    justify-content: space-between;
    flex: 1;
    background-color: #1f2937;
    width: 800px;
    border: 1px solid red;
}

.big_font {
    font-size: 38px;
    font-weight: 900;
    }

    .button1 {
        background-color: #3882f6;
        color: white;
        padding: 10px 30px;
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
        border-radius: 10px;
    }

.text {
    width: 300px;
    padding-top: 30px;
}


/* Body */
.f_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body1 {
    display: flex;
    font-size: 26px;
    font-weight: 800;
    padding: 50px 0;
}



.body_images {
    display: flex;
   justify-content: space-between;
    margin-bottom: 100px;
    flex: 1;
    width: 800px;
}

.image1, .image2, .image3, .image4 {
    border: 3px solid #3882F6;
    padding: 15px;
    border-radius: 20px;
}


.subtext {
width: 150px;
    color: #1f2937;
   text-align: center;
    padding: 0;
    margin: 0;
}

/* Body Grey */
.body_grey {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body_container{
    border: 1px solid red;
}

.b_grey {
font-size: 30px;
    font-weight: 100;
    width: 680px;
   color: #1f2937;
   font-style: italic;
}

.quote_grey {
   display: flex;
  justify-content: flex-end;
    font-weight: 900;
    font-size: 20px;
    color: #1f2937;
    border: 1px solid red;
}
/* body blue rounded */
.call {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 800px;
}

.bold_text {
    font-weight: 900;
    font-size: 20px;
}

.c_button{
    background-color: #3882F6;
    padding: 10px 40px;
border: 2px solid white;
border-radius: 10px;
color: white;
font-weight: 600;
font-size: 15px;
}

